{% extends 'base.html' %}

{% block title %}App Script{% endblock %}
{% block header %}
<h1>Instructions for Google App Script</h1>
{% endblock %}

{% block content %}
{% if vm['logged_in'] %}
<p>This page gives instructions to add a Google App Script. With this script you can configure reminders to notify you
    which subscriptions should be renewed when a credit card expires.</p>

<h3>1. Create a new script</h3>
<p>From you Google Sheet, go to <span class="code-inline">Tools -> Script Editor</span>. This will open a new tab with
    Apps Script. You can rename your
    script to something relevant if you prefer.</p>


<h3>2. Copy code to App Script</h3>
<p>As shown in Figure&nbsp;1, replace the template code in the <span class="code-inline">Code.gs</span> file with the
    code below. </p>
<div class="image">
    <img src="/static/appscript1.png" alt="appscript_code_image" /><br>
    Figure 1
</div>
<br>
<p>Copy this code:</p>
<pre class="code-block">
    // get spreadsheet
    var spreadsheet = SpreadsheetApp.getActiveSpreadsheet();
    function doGet(e){
      remindMeAboutSubscriptions();
      return HtmlService.createHtmlOutput('').setSandboxMode(HtmlService.SandboxMode.IFRAME);
    }
    function remindMeAboutSubscriptions() {
      // get card info
      var expiringCards = getCardsByExpiry(spreadsheet,30,1);
      // get subscriptions
      var subscriptionReminders = getSubscriptionsByExpiringCard(spreadsheet,expiringCards);
      // notify user
      //sendReminderEmail(subscriptionReminders);
      createCalendarReminder(subscriptionReminders);
    }
    function getCardsByExpiry(spreadsheet,Reminder1_DaysToExpiry) {
      //get credit cards sheet
      var sheet = spreadsheet.getSheetByName('Credit cards');
      //get values
      var data = sheet.getDataRange().getValues();
      var cards = {};
      for (var i = 1; i &lt; data.length; i++) {
        if(data[i][3]!=""){
          continue
        }
        var expiryDate = new Date(data[i][2]);
        var dateNow = new Date();
        var difference= Math.abs(expiryDate-dateNow);
        var daysToExpiry = difference/(1000 * 3600 * 24)
        if(daysToExpiry&lt;=Reminder1_DaysToExpiry)
        {
          cards[i-1] = {"id":data[i][0],"cardnumber":data[i][1], "expity":data[i][2],"reminderdate":data[i][3]}
        }
        //Logger.log('Card id: ' + data[i][0]);
        //Logger.log('Card number: ' + data[i][1]);
        //ogger.log('Expiry: ' + data[i][2]);
      }
      return cards
    }
    function getSubscriptionsByExpiringCard(spreadsheet,expiringCards) {
      var subscriptions = {};
      var cardCount = Object.keys(expiringCards).length;
      if(cardCount&lt;1)
      {
        return subscriptions;
      }
      //get Merchants sheet
      var sheet = spreadsheet.getSheetByName('Subscriptions');
      //get values
      var data = sheet.getDataRange().getValues();
      var subscriptionCount = 0;
      for (var i = 0; i &lt; cardCount; i++) {
          cardId = expiringCards[i]["id"]
          cardNumber = expiringCards[i]["cardnumber"]
          subscriptions[i] = {}
          subscriptions[i]["id"] = expiringCards[i]["id"]
          subscriptions[i]["cardnumber"] = cardNumber
          subscriptions[i]["expiry"] = expiringCards[i]["expity"]
          var filteredData = data.filter(function(item){
              return (item[1] == cardId)&&(item[2] == true);         
          });
          subscriptions[i]["subscriptions"] = filteredData
          subscriptionCount+=1;
      }
      return subscriptions
    }
    function sendReminderEmail(subscriptionReminders){
      Object.keys(subscriptionReminders).forEach(function(key){
        var cardId = subscriptionReminders[key]["id"];
        var cardNumber = subscriptionReminders[key]["cardnumber"];
        var cardExpiryDate = subscriptionReminders[key]["expiry"];
        var subscriptions = subscriptionReminders[key]["subscriptions"];
        var subscriptionList = ""
        for (var i = 0; i &lt; subscriptions.length; i++) {
          subscriptionList+=`&lt;li>${subscriptions[i][3]} (${subscriptions[i][9]})&lt;/li>`;
        }
        //https://www.tutorialspoint.com/online_html_editor.php
        var htmlEmailBody = 
          `&lt;!DOCTYPE html>
          &lt;html>
            &lt;head>
                &lt;title>reminder&lt;/title>
            &lt;/head>
            &lt;body>
                &lt;h2>${cardNumber} - Expiring ${cardExpiryDate}&lt;/h2>
                &lt;h3>Subscriptions linked to this card:&lt;/h3>
                ${subscriptionList}
            &lt;/body>
          &lt;/html>`;
        GmailApp.sendEmail(Session.getActiveUser().getEmail(),"Reminder: Update credit card subscriptions",'HTML body here',{htmlBody: htmlEmailBody}) 
        recordReminderInformation(cardId,new Date())
      });
    }
    function createCalendarReminder(subscriptionReminders){
      Object.keys(subscriptionReminders).forEach(function(key){
        var cardId = subscriptionReminders[key]["id"];
        var cardNumber = subscriptionReminders[key]["cardnumber"];
        var cardExpiryDate = subscriptionReminders[key]["expiry"];
        var subscriptions = subscriptionReminders[key]["subscriptions"];
        var subscriptionList = ""
        for (var i = 0; i &lt; subscriptions.length; i++) {
          subscriptionList+=`&lt;li>${subscriptions[i][3]} (${subscriptions[i][9]})&lt;/li>`;
        }
        //https://www.tutorialspoint.com/online_html_editor.php
        var htmlEmailBody = `&lt;html>&lt;h2>${cardNumber} - Expiring ${cardExpiryDate}&lt;/h2>&lt;h3>Subscriptions linked to this card:&lt;/h3>${subscriptionList}&lt;/html>`;
        var event = {
          location: 'Online',
          description: htmlEmailBody,
          //attendees: [
            //{email: 'alice@example.com'},
            //{email: 'bob@example.com'}
          //],
          // Red background. Use Calendar.Colors.get() for the full list.
          colorId: 11
        };
        eventReminder = CalendarApp.createAllDayEvent("Renew credit card subscriptions",new Date(cardExpiryDate),event)
        eventReminder.addEmailReminder(1*60*12*30)
        recordReminderInformation(cardId,new Date())
      });
    }
    function recordReminderInformation(cardId,timestamp) {
      //get credit cards sheet
      var sheet = spreadsheet.getSheetByName('Credit cards');
      //get values
      var data = sheet.getDataRange().getValues();
      for (var i = 1; i &lt; data.length; i++) {
        if(data[i][0]==cardId)
        {
          sheet.getRange(i+1, 4).setValue(timestamp);
        }
      }
      // Make sure the cell is updated right away in case the script is interrupted
      SpreadsheetApp.flush();
    }
</pre>

<h3>3. Create a trigger</h3>

<p>Set up a Trigger that will execute the code above on a schedule. See Figure&nbsp;2 for an example trigger
    configuration.</p>

<div class="image">
    <img src="/static/appscript2.png" alt="appscript_trigger_image" /><br>
    Figure 2
</div>

<p><span class="warning">Note:</span> When you Save the trigger, it will make a pop-up that asks you to Sign In with
    your Google account. After you Sign In you will get the warning that "Google hasn’t verified this app". See
    Figure&nbsp;3. If you trust the app, click on <span class="code-inline">Advanced</span> and then
    <span class="code-inline">Go to &lt;your_app&gt; (unsafe)</span> and Allow the app.
</p>


<div class="image">
    <img src="/static/trigger.png" alt="trigger_warning_image" /><br>
    Figure 3
</div>
<div>
    <br>
    <label>
        <a href="{{url_for('.home')}}">Home</a>
        &nbsp;|&nbsp;
        <a href="{{url_for('.sheet')}}">Sheet</a>
        &nbsp;|&nbsp;
        <a href="{{url_for('.cardcode')}}">Card</a>
    </label>
</div>
{% else %}
<p>Please log in to access this page.</p>
{% endif %}
{% endblock %}